* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
}

.header-container {
  width: 100px;
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  z-index: 9;
}

.header-logo-container {
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-nav-menu-container {
  height: 100px;
  width: 100%;
}

.header-theme-toggle-container {
  flex: 1;
  width: 100%;
}

.content-container {
  display: flex;
  width: 100%;
}

.feed-container {
  width: calc(50% - 100px);
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  left: 100px;
}

.feed-item-container {
  width: 100%;
}

.article-container {
  width: calc(50% - 100px);
  position: absolute;
  overflow-y: scroll;
  left: 50%;
  height: 100%;
  /* margin-right: 100px; */
}

.ticker-feed-container {
  width: 100px;
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  right: 0vw;
  background-color: gray;
  z-index: 9;
}

/*'^`^'*+-.,,_,,.-+*'^`^'*+-.,,_,,.-+*'^`^'*+-.,,_,,.-+*'^`^'*+-.,,_,,.-+*'^`*/
/*                                MOBILE STYLES                              */
/*'^`^'*+-.,,_,,.-+*'^`^'*+-.,,_,,.-+*'^`^'*+-.,,_,,.-+*'^`^'*+-.,,_,,.-+*'^`*/

@media screen and (max-width: 990px) {
  .App {
    flex-direction: column;
    height: 100vh;
  }

  .header-container {
    width: 100vw;
    height: 65px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0vh;
  }

  .header-logo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
  }

  .header-nav-menu-container {
    height: 100%;
  }

  .header-theme-toggle-container {
    flex: 1;
    height: 100%;
  }

  .content-container {
    height: calc(100vh - 97px);
    position: fixed;
    margin-top: 97px;
    border: 1px solid red;
  }

  .feed-container {
    width: 100%;
    left: 0;
    padding-bottom: 100px;
  }

  .article-container {
    display: none;
    position: absolute;
    left: 0vw;
    width: 100%;
    z-index: 8;
    background-color: white;
    padding-bottom: 100px;
  }

  .ticker-feed-container {
    height: 32px;
    width: 100vw;
    display: flex;
    position: fixed;
    top: calc(0vh + 65px);
  }
}
